MONGODB_URI=mongodb+srv://youruser:yourpassword@cluster0.xxxxx.mongodb.net/visionvault?retryWrites=true&w=majority
SESSION_SECRET=replace_with_a_long_random_string
CLOUDINARY_CLOUD_NAME=dookenuyd
CLOUDINARY_API_KEY=528969816536445
CLOUDINARY_API_SECRET=lY5so__hbH0Mif1Xpsjfg-qe7Gg
NODE_ENV=production
